body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image:url("images/Background/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


#page {
  width:90%;
  max-width: 900px;
  margin:0 auto;
  background-color: rgba(230,230,230,.75);
  /*background-color: #E6E6E6;*/
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#logo img{
    max-width: 266px;
    max-height: 198px;
    position: absolute;
    top: 1px;
    right:1px;
    width: 14%;
}

.gallery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galleryExtinction{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galleryIslandBosses{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galleryScortchedBosses{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galleryAberrationBosses{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.galleryExtinctionBosses{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.gallerytext {
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
}

.mostread {

  margin-right: 1.667%;
  margin-top: 1.667%
 
}

.mostread a{
  color:#444554;
  text-decoration: none;

}

.mostread li {
  margin-bottom:1rem;
}

#page:hover {
  width:90%;
  max-width: 900px;
  margin:0 auto;
  background-color: rgba(230,230,230,.87);
  /*background-color: #E6E6E6;*/
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#masthead {
  background-color: rgba(68,69,84,1);
  padding: 2.666% 1.5rem;
  grid-column: 1/11;
}

#masthead h1 {
  font-family:Helvetica, Arial, sans-serif;
  margin-bottom:0;
  font-size:4rem;
}

#masthead h1 a {
  color:#ffffff;
  text-decoration: none;
}

#masthead p {
  color:#BFACB5;
  text-transform: lowercase;
  font-size:1.5rem;
  margin:0;
}

#menuButton a{
  text-decoration: none;
}

ul.child{
    padding:0rem;
    margin:0rem;
    position: absolute;
    display:none;
    border:1px solid #BFACB5;
    background-color:rgba(68,69,84,1);
    z-index:1;
}

li{
	list-style-type:none;
}

.navcontainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	
}


.navcontainer a {
  color:#ffffff;
  text-decoration: none;
  font-weight: bold;
  text-transform:uppercase;
  font-size:1.5rem;
  padding: 1.777% 1rem;
  font-family: Oswald, Arial, sans-serif;
}

.navcontainer a:hover {
  color:#ffff00;
  border-bottom:1px solid #ffff00;
}


main {
	grid-column: 1/11;
}

.articlebody2{
	width:60%;
}

#content .articlebody p {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.5;
}

article {
  padding: 2.909% 1rem;
  margin-bottom:3rem;
}

article img {
	max-width: 100%;
}

article h2{
  font-size:2rem;
  margin:0;
}

article header {
  border-bottom:1px solid #7F7B82;
}

.author {
  margin-top:0;
}

.article-footer {
  text-align:right;
  margin-bottom:4rem;
}

.articlebody a{
  color:#7F7B82;
  text-decoration: none;
}

.pics{
	width: 100%;
}

aside {
	grid-column: 7/11;
}

footer {
  clear:both;
  background-color:#172121;
  padding: 2.666% 1.5rem;
  color:#fff;
  grid-column: 1/11;
}

footer a {
  color:#fff;
}

.dossmain{
	grid-column: 1/11;
}

.aberrationmain{
	grid-column: 1/11;
}

#firstnews{
	padding-top:1rem;
}

.userform{
	height: 20px;
	font-size: 20px;
	color: #4A5D77;
	padding:5px;
}

.container{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background:#f2f2f2;
	width: 100%;
	border:0;
	margin:0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size:14px;
}

.name_error, .email_error, .comment_error{
	color: #d9534f;
	padding: 8px;
	display: none;
}

#comments{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background:#f2f2f2;
	width: 100%;
	border:0;
	margin:0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size:14px;
}

#button{
	font-family: "Roboto", sans-serif;
	outline : 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

@media screen and (max-width: 970px){
	nav a {
		font-size: 1rem;
	}
}

@media screen and (max-width: 800px){
	
	#masthead {
		background-image: none;
		text-align: center;
	}
	
	.navcontainer a {
		font-size: 1rem;
	}
	
}

@media screen and (max-width: 750px){
	
	#page {
        width: 100%;
    }

    #page:hover {
            width: 100%;
    }


    body {
        margin: 0;
    }
	
}

@media screen and (max-width: 700px){
	
	main {
		grid-column: 1/11;
	}
	

	aside {
		border:1px solid #BFACB5;
		padding: 5.333% 1rem;
		margin: 8% 1.5rem;
		grid-column: 1/11;
	}
}

@media screen and (max-width: 660px){
	
	#masthead h1 {
		font-size: 2rem;
	}
	

	#masthead #tagline p{
		display: none;
	}

	.navcontainer {
		flex-direction: column;
		
	}
	
	.navcontainer .item {
		border-bottom: 1px solid #fff
	}
	
	.navcontainer a:hover {
		border-bottom: none;
	}
}